<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        function onPageLoad(){
            console.log('Document loaded');
            var url = 'http://127.0.0.1:5000/get_location_names';
            $.get(url, function(data, status){
            console.log('got response from get_location_names request');

                if (data){
                    var locations = data.locations;
                    var uiLocations = document.getElementById('uiLocations');
                    $('#uiLocations').empty();

                    for (var i in locations) {
                        var opt = new Option(locations[i]);
                        $('#uiLocations').append(opt);
                    }
                }
            });
        }
        window.onload = onPageLoad;
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
    <div class="title">
        <h2>Bangalore House Price Prediction</h2>
    </div>
    <form class="form" action="{{ url_for('predict') }}" method="post">
        <div class="sqft">
            <h2>Area (Square Feet)</h2>
            <input class="area"  type="text" id="uiSqft" class="floatLabel" name="Squareft" value = '1000'>
        </div>

        <div class="bhk">
            <h2>BHK</h2>
            <div class="switch-field">
                <input type="radio" id="radio-bhk-1" name="uiBHK" value="1"/>
                <label for="radio-bhk-1">1</label>
                <input type="radio" id="radio-bhk-2" name="uiBHK" value="2" checked/>
                <label for="radio-bhk-2">2</label>
                <input type="radio" id="radio-bhk-3" name="uiBHK" value="3"/>
                <label for="radio-bhk-3">3</label>
                <input type="radio" id="radio-bhk-4" name="uiBHK" value="4"/>
                <label for="radio-bhk-4">4</label>
                <input type="radio" id="radio-bhk-5" name="uiBHK" value="5"/>
                <label for="radio-bhk-5">5</label>
            </div>
        </div>

        <div class="bath">
            <h2>Bath</h2>
            <div class="switch-field">
                <input type="radio" id="radio-bath-1" name="uiBathrooms" value="1"/>
                <label for="radio-bath-1">1</label>
                <input type="radio" id="radio-bath-2" name="uiBathrooms" value="2" checked/>
                <label for="radio-bath-2">2</label>
                <input type="radio" id="radio-bath-3" name="uiBathrooms" value="3"/>
                <label for="radio-bath-3">3</label>
                <input type="radio" id="radio-bath-4" name="uiBathrooms" value="4"/>
                <label for="radio-bath-4">4</label>
                <input type="radio" id="radio-bath-5" name="uiBathrooms" value="5"/>
                <label for="radio-bath-5">5</label>
            </div>
        </div>

        <div class="loc">
                <h2>Location</h2>
            <div>
                <select class="location" name="location" id="uiLocations">
                </select>
            </div>
        </div>

        <div class="estbutton">
            <button class="submit" type="submit">Estimate Price</button>
        </div>

    </form>

    <div class="estresult">
        <div id="uiEstimatedPrice" class="result">	<h2 class="result_num">Estimated price for {{sqft}} sqft, {{bed}} bed and {{bath}} bath house in {{loc}} is ₹{{prediction}}<h2/> </div>
    </div>
</body>
</html>

<!-- Estimated price for {{sqft}} sqft, {{bed}} bed and {{bath}} bath house in {{loc}} is ₹{{prediction}} -->